@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* font-family: 'Panchang', sans-serif; */
  font-family: "Manrope", sans-serif;
  /* background-color: #f5f5f5; */
  background:r;

}
 @keyframes pulse-ring {
                 0% {
                   transform: scale(0.33);
                   opacity: 1;
                 }
                 80%,
                 100% {
                   opacity: 0;
                 }
               }

